*{
  margin: 0;
  padding: 0;
}


.container{
  background: linear-gradient(135deg, #850c62, #f80756);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.wrapper-mode{
  background-color: white;
  min-height: 650px;
  min-width: 350px;
}

.wrapper{
  background-color: white;
  min-height: 450px;
  min-width: 350px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  justify-content: center;

}

.title-1{
  color: #f80756;
  text-align: center;
  margin: 0px 0px 8px 0px;
}
.title-2{
  color: #f80756;
  text-align: center;
  margin: 0px 0px 40px 0px;
}

.berat,
.tinggi{
  margin: 16px;
  color: black;
  font-size: 16px;
}

.button{
    background-color: #850c62;
    color: white;
    padding: 10px 10px;
    border-radius: 10px;
   
    
}


.wrapper-result{
  /* margin-bottom: 20vh; */
  font-weight: bold;
  text-align: center;
  margin-top: -80px;
}
.wrapper-footer{
  text-align: center;
    line-height: 12px;
    margin-top: 20px;
}

